html {
  background-color: lightgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  max-width: 1280px;
  margin: 20px auto;
  background-color: white;
  padding: 0 70px;
}

.name {
  font-size: 35px;
  font-weight: 600;
  padding-top: 60px;
}


.nav {
  height: 21px;
  border-bottom: 2px dashed black;
  text-align: right;
  margin-top: 20px;

  &__link {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    height: 21px;
    text-decoration: none;
    margin: 0 5px;
    color: black;
    cursor: pointer;
  }
}

.nav__link:nth-of-type(4) {
  margin-right: 0;
}

.nav__link:hover {
  text-shadow: 0 0 1px black;
  border-bottom: 2px solid black;
}

.about-me {
  position: relative;
  font-size: 65px;
  line-height: 45px;
  padding: 50px 0 3px 0;
  text-shadow: 5px 5px 0px lightgrey;
}

.about-me::after {
  content: "";
  border-bottom: 3px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 2px solid black;
}

.column {

  &__titel {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: max-content;
    padding-left: 10px;
    padding-right: 30px;
    line-height: 40px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 800%, 0 0%);
  }

  &__text {
    margin-top: 16px;
  }

  &__box {
    margin-top: 16px;
    background-color: lightgrey;
    padding: 20px;

    &_style-italic {
      font-style: italic;
      font-size: 12px;
    }

    &_position {
      font-style: 14px;
      text-align: right;
      margin-top: 25px;
    }
  }
}

.column:nth-of-type(1) {
  width: 500px;
}

.column:nth-of-type(2) {
  padding-left: 40px;
}

.skills {
  margin-top: 15px;

  &__scale {
    background-color: lightgray;
    font-style: italic;
    padding: 5px;
    margin: 5px 0;
  }

  &__scale:nth-of-type(1),
  &__scale:nth-of-type(4) {
    width: 80%;
  }

  &__scale:nth-of-type(5) {
    width: 60%;
  }
}

.scale {
  font-size: 0;

  &__line {
    display: inline-block;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    line-height: 60px;
    text-align: right;
    height: 20px;
    width: 20%;
    box-sizing: border-box;
    font-size: 14px;
  }
}

.my-work {
  margin-top: 15px;
  padding: 0 0 0 20px;
  position: relative;

  &__list {
    font-size: 14px;
    padding: 0 0 5px 0;
    list-style-type: none;
    line-height: 18px;
  }

  &__list::before {
    color: black;
    content: "\2022";
    font-size: 45px;
    font-weight: 700;
    left: 0;
    line-height: 18px;
    position: absolute;
  }
}

.sect {
  display: flex;
  align-items: center;

  &__logo {
    width: 200px;
    padding-left: 15px;
  }

  &__text {
    padding-left: 20px;
    line-height: 25px;
  }
}

.footer {
  background-color: black;
  box-shadow: -70px 0px 0px 0px rgb(0 0 0), 70px 0px 0px 0px rgb(0 0 0);

  &_section {
    display: flex;
    padding: 30px;
  }
}

.contacts {
  color: white;
  margin-right: 30px;

  &__text {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 5px;
  }
}

.links {
  color: white;

  &__link {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    line-height: 23px;
  }

  &_uderline {
    border-bottom: 1px solid white;
  }
}

.school {
  color: white;
  padding-bottom: 15px;
  text-align: center;
}